<li>
    <!DOCTYPE HTML>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <link href="../../../Content/normalize.css" rel="stylesheet" />
        <link href="../!design.css" rel="stylesheet" />
        <link href="../../!test/test.css" rel="stylesheet" />
    </head>
    <body style="width:100%">
        <ul>
            <li><a href="test-box-content-box.html">test-box-content-box.html</a></li>
            <li><a href="test-box.html">test-box.html</a></li>
            <li><a href="test-content.html">test-content.html</a></li>
            <li><a href="test-float.html">test-float.html</a></li>
            <li><a href="test-grid.html">test-grid.html</a></li>
            <li><a href="test-inline.html">test-inline.html</a></li>
            <li><a href="test-list-ul.html">test-list-ul.html</a></li>
        </ul>
    </body>
</html>
