<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../../Content/normalize.css" rel="stylesheet" />
    <link href="../!design.css" rel="stylesheet" />
    <link href="../../!test/test.css" rel="stylesheet" />
</head>
<body style="width:100%">
    <h2>Sample 1</h2>
    <div class="test-sample-box">
        <div class="iwl-box-center iwl-content-right test-inline-box">
            <p class="test-definition">
                The box is centered vertically within its container.
                <br />The content of the box is right aligned.
            </p>
            <div>
                <p class="test-definition">
                    Another box gets the right alignment by inheritance.
                </p>
                <p class="test-lorem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <img src="Media/woolly-mc.png" />
            </div>
            <div class="iwl-content-left">
                <p class="test-definition">
                    You can change an inner box content width onther iwl-content-*
                </p>
                <p class="test-lorem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <img src="Media/woolly-mc.png" />
            </div>
        </div>
    </div>

    <div style="height:100px"></div>
</body>
</html>
