<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../../Content/normalize.css" rel="stylesheet" />
    <link href="../!design.css" rel="stylesheet" />
    <link href="../../!test/test.css" rel="stylesheet" />
</head>
<body style="width:100%">
    <h2>iwl-content-left</h2>
    <div class="test-sample-box">
        <div class="iwl-content-left test-inline-box">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <img src="Media/woolly-mc.png" />
        </div>
    </div>

    <h2>iwl-content-right</h2>
    <div class="test-sample-box">
        <div class="iwl-content-right test-inline-box">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <img src="Media/woolly-mc.png" />
        </div>
    </div>

    <h2>iwl-content-center</h2>
    <div class="test-sample-box">
        <div class="iwl-content-center test-inline-box">
            <p class="iwl-content-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <img src="Media/woolly-mc.png" />
        </div>
    </div>

    <h2>iwl-content-center iwl-set-max-width</h2>
    <div class="test-sample-box">
        <div class="iwl-content-center iwl-set-max-width test-inline-box" style="max-width:500px;">
            <p class="iwl-content-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <img src="Media/woolly-mc.png" />
        </div>
    </div>
    <h2>iwl-content-middle</h2>
    <div class="test-sample-box">
        <div class="iwl-content-middle test-inline-box" style="height:300px;">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <img src="Media/woolly-mc.png" />
        </div>
    </div>

    <h2>iwl-content-middle iwl-content-center</h2>
    <div class="test-sample-box">
        <div class="iwl-content-middle iwl-content-center test-inline-box" style="height:300px;">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <img src="Media/woolly-mc.png" />
        </div>
    </div>


    <h2>iwl-content-middle iwl-content-right</h2>
    <div class="test-sample-box">
        <div class="iwl-content-middle iwl-content-right test-inline-box" style="height:300px;">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <img src="Media/woolly-mc.png" />
        </div>
    </div>
</body>
</html>
