.iws-height-full {
  height: 100%; }

/*#region SET PROPERTIES*/
.iws-set-max-width {
  /*width: 100%;*/
  max-width: 500px; }

.iws-set-margin {
  margin: 50px auto; }

.iws-set-overflow-hidden {
  overflow: hidden; }

/*#endregion*/
/*#region BOX*/
.iws-box-center {
  margin: 0 auto; }

.iws-box-left {
  margin: 0 auto 0 0; }

.iws-box-right {
  margin: 0 0 0 auto; }

.iws-box-top {
  display: table-cell;
  vertical-align: top; }

.iws-box-middle {
  display: table-cell;
  vertical-align: middle; }

.iws-box-bottom {
  display: table-cell;
  vertical-align: bottom; }

/*#endregion*/
/*#region CONTENT*/
.iws-content-left {
  text-align: left; }

.iws-content-right {
  text-align: right; }

.iws-content-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.iws-content-middle {
  display: table-cell;
  vertical-align: middle; }

/*#endregion*/
/*#region LIST-UL*/
ul.iws-list-ul-horizontal-nowrap {
  list-style-type: none;
  padding: 0;
  margin: 0;
  white-space: nowrap; }

ul.iws-list-ul-horizontal-nowrap li {
  display: inline; }

ul.iws-list-ul-horizontal-wrap-left, ul.iws-list-ul-horizontal-wrap-right {
  list-style-type: none;
  padding: 0;
  margin: 0; }

ul.iws-list-ul-horizontal-wrap-left li {
  float: left; }

ul.iws-list-ul-horizontal-wrap-right li {
  float: right; }

/*#endregion*/
/*#region GRID*/
/*#region GRID / ROW*/
.iws-grid {
  width: 100%; }

.iws-grid, .iws-row {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden; }

.iws-grid .iws-row [class*='iws-span']:first-child {
  margin-left: 0; }

.iws-grid .iws-row [class*='iws-span'] {
  float: left;
  min-height: 1px; }

.iws-grid .iws-row::after {
  clear: both; }

.iws-grid .iws-row::before, .iws-grid .iws-row::after {
  display: table;
  content: ''; }

/*#endregion*/
/*#region SPAN1-12 */
.iws-grid .iws-row .iws-span12 {
  width: 100% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-span11 {
  width: 91.66667% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-span10 {
  width: 83.33333% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-span9 {
  width: 75% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-span8 {
  width: 66.66667% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-span7 {
  width: 58.33333% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-span6 {
  width: 50% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-span5 {
  width: 41.66667% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-span4 {
  width: 33.33333% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-span3 {
  width: 25% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-span2 {
  width: 16.66667% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-span1 {
  width: 8.33333% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

/*#endregion */
/*#region OFFSET1-12 */
.iws-grid .iws-row .iws-offset12 {
  margin-left: 100% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-offset11 {
  margin-left: 91.66667% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-offset10 {
  margin-left: 83.33333% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-offset9 {
  margin-left: 75% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-offset8 {
  margin-left: 66.66667% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-offset7 {
  margin-left: 58.33333% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-offset6 {
  margin-left: 50% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-offset5 {
  margin-left: 41.66667% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-offset4 {
  margin-left: 33.33333% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-offset3 {
  margin-left: 25% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-offset2 {
  margin-left: 16.66667% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

.iws-grid .iws-row .iws-offset1 {
  margin-left: 8.33333% !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

/*#endregion */
/*#region STYLES*/
.iws-grid-middle-text-set-line-height {
  line-height: 100%; }

.iws-grid-middle-a1-on-span {
  display: table; }

.iws-grid-middle-a1-add-div {
  display: table-cell;
  vertical-align: middle; }

/*#endregion*/
/*#endregion*/
/*#region FLOAT*/
/* LINKS:
   > http://css-tricks.com/all-about-floats/
*/
.iws-float-left {
  float: left; }

.iws-float-right {
  float: right; }

.iws-float-parent {
  display: table; }

.iws-float-parent:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
  font-size: 0; }

.iws-float-parent1 {
  overflow: auto; }

.iws-float-clear-left {
  clear: left; }

.iws-float-clear-right {
  clear: right; }

/*#endregion*/
/*#region INLINE*/
.iws-inlineblock {
  display: inline-block;
  border: 0; }

.iws-inlineblock-parent {
  line-height: 0; }

.iws-inlineblock-parent-nowrap {
  line-height: 0;
  overflow: hidden;
  white-space: nowrap; }

/*#endregion*/
/*#region WRAP / NOWRAP*/
.iws-nowrap {
  white-space: nowrap; }

/*#endregion*/
/*# sourceMappingURL=!design.css.map */