<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        <li>
            <a href="sample1.html"><img src="sample1.png" style="width:100px" /></a>
        </li>
        <li>
            <a href="sample2.html"><img src="sample2.png" style="width:100px" /></a>
        </li>
        <li>
            <a href="sample3.html"><img src="sample3.png" style="width:100px" /></a>
        </li>
        <li>
            <a href="sample4.html"><img src="sample4.png" style="width:100px" /></a>
        </li>
        <li>
            <a href="sample5.html"><img src="sample5.png" style="width:100px" /></a>
        </li>
        <li>
            <a href="sample6.html"><img src="sample6.png" style="width:100px" /></a>
        </li>
        <li>
            <a href="sample7.html"><img src="sample7.png" style="width:100px" /></a>
        </li>
        <li>
            <a href="sample8.html"><img src="sample8.png" style="width:100px" /></a>
        </li>
        <li>
            <a href="sample9.html"><img src="sample9.png" style="width:100px" /></a>
        </li>
    </ul>
</body>
</html>
